h2 what is this?

#what
  p.
    BigPuller is just a toy app that can help you figure out the overall
    'willingness-to-pull' of a project on github.

  p.
    Often I'll be using an infant library or tool that I found on github,
    I'll spend a couple hours making a little modification to it - a
    bugfix, adding docs, whatever - and submit a pull request. Hours,
    days, weeks later and it's still being ignored. Well, that's annoying!

  p.
    It would be nice if everyone had the time to actively engage with
    people looking to contribute to their projects, but of course that
    just isn't always possible. So at least I want a way to save myself
    the hassle.

  p.
    Using BigPuller, I can look up a project before spending time on
    it and see if the maintainer is likely to be interested in my contribution.

  p.
    The easiest way to get started is to login with your github account
    (using OAuth2) and just go poking around in your watched repo list.